
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trang chủ</h2>

<div class="grid__row app__content">
    <h4 style="margin: 0;">DANH SÁCH BÀI TẬP: </h4>
    <ul style="list-style: decimal;">
        <li>Tạo một Project có tên BaiTap1, chạy các view có trong project (các trang *.cshtml) Thêm vào ứng dụng có chức năng nhập vào 2 số thực, chọn phép toán, tính và in kết quả có giao diện như sau.</li>
        <li>
            Tạo một trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin: Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu, đơn vị và ảnh đại diện có giao diện (trang Index.cshtml - lưu ý, dùng thuộc tính new {enctype
            = "multipart/form-data" } khi sử dụng đối tượng File UpLoad) như sau
        </li>
        <li>
            Tạo 1 trang web cho phép đăng nhập vào email và gửi mail đến 1 địa chỉ khác (dùng mail yahoo hoặc gmail). Thông tin gửi mail bao gồm: địa chỉ mail người gửi, mật khẩu người gửi, địa chỉ mail cần gửi đến, Tiêu đề, nội dung gửi có giao
            diện như sau
        </li>
    </ul>
</div>

