@{
    ViewBag.Title = "Index";
    Layout = null;
}
<form name="f1" action="/SinhVien/Register" method="post">
    <h2>Index</h2>
    <div>
        Mã:     <input type="text" name="MaSV" /> <br />
        Họ tên: <input type="text" name="HoTen" /> <br />
        Điểm:   <input type="text" name="Diem" /> <br />
    </div>
    <div> <input type="submit" value="Đăng ký" /> </div>
</form>

