
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<form name="f1" action="/SinhVien/Index">
    <div>
        Mã: @ViewBag.Id <br />
        Họ tên: @ViewBag.Name <br />
        Điểm: @ViewBag.Marks <br />
    </div>
    <div><input type="submit" value="Quay lại" /></div>
</form>

