@model BaiTH5.Models.EmpModel

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container">
    <h1 class="text-center">Thông tin thành viên đăng ký</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
            <form name="f1" action="/Index" method="post" class="form" enctype="multipart/form-data">

                <label>Mã số nhân viên: </label>
                <input class="form-control" name="EmpID" placeholder="Mã số NV" /> <br>
                <label>Họ tên: </label>
                <input class="form-control" name="Name" placeholder="Họ tên" /><br>
                <label>Ngày sinh: </label>
                <input class="form-control" name="BirthOfDate" placeholder="Ngày sinh" /><br>
                <label for="">Email: </label>
                <input class="form-control" name="Email" placeholder="Email" /><br>
                <label for=""> Mật khẩu: </label>
                <input class="form-control" name="Password" type="password" placeholder="Mật khẩu" /><br>
                <label for="">Đơn vị: </label>
                <input class="form-control" name="Department" placeholder="Đơn vị" /><br>

                <label for="">Ảnh đại diện: </label>

                <div class="file-upload form-control">
                    <input type="file" name="Avatar" />
                    <i class="fa fa-arrow-up"></i>
                </div>
                <br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Đăng ký
                </button>
            </form>
        </div>
    </div>
</div>
</html>
